.form-section .row .row .col-md-12,.form-section .col-md-12 .col-md-12{padding:0 10px}
.form-section form>label:first-child,.form-section .form-group>label:first-child{font-size:18px;font-family:proxima_novasemibold;color:#565656;cursor:auto;margin-bottom:3px;margin-top:2px;width:100%}
.form-section label.checkbox-inline,.form-section .radio label,.form-section label.radio-inline,.form-section .checkbox label{font-size:18px;font-family:"proxima_novaregular";color:#565656;padding-left:0;cursor:default !important}
.form-section form input[type="text"],.form-section form textarea{border-color:#b7b7b7;font-family:"proxima_novaregular";font-size:18px;padding:6px 12px 1px;min-height:33px;color:#565656}
.form-section form input[type="text"]:focus,.form-section form textarea:focus{border-color:#66afe9}
.form-section>label,.form-section form>label:first-child{width:100%}
.form-section label.radio-inline{width:auto}
.form-section label.radio-inline input[type="radio"],.form-section .radio input[type="radio"]{margin-left:-20px;position:static}
.form-section label.radio-inline input[type="radio"]:before,.form-section .radio input[type="radio"]:before{width:16px;height:16px;content:"";position:absolute;background:url('forms/images/radio-custom.png')}
input.btn-white[type="reset"]{background:#fff}
input.btn-white[type="reset"]:hover{background:#76c14d}
.form-section input[type="checkbox"]{display:none;position:static}
.form-section input[type="checkbox"]+span{padding-left:25px;position:relative;display:inherit}
.form-section input[type="checkbox"]+span:before{background:url('forms/images/checkbox-custom.png');background-repeat:no-repeat;position:absolute;content:"";height:15px;width:17px;left:0;top:1px}
.form-section input[type="checkbox"]:checked+span:before{background-position:0 -15px}
.form-section .row .row{margin-left:-10px;margin-right:-10px}
.form-section input[type="radio"]{display:none}
.form-section input[type="radio"]+span{padding-left:25px;position:relative;display:inherit}
.form-section input[type="radio"]+span:before{background:url('forms/images/radio-custom.png');background-repeat:no-repeat;position:absolute;content:"";height:16px;width:16px;left:0;top:1px}
.form-section input[type="radio"]:checked+span:before{background-position:0 -16px}
.form-section form label.checkbox-inline,.form-section form label.radio-inline{padding-left:0;margin-left:0;margin-right:10px;margin-top:0}
.form-section form label.checkbox-inline:last-child,.form-section form label.radio-inline:last-child{margin-bottom:10px;margin-top:5px}
.form-section form div.checkbox,.form-section form .radio{margin-top:5px}
.form-section label.warning{color:#f8981d;width:100%}
.form-section .form-group p{margin-top:10px}
.form-section .form-group p a{padding:0 !important;display:inline !important}
.form-section .form-group .bootstrap-select{width:100% !important}
.form-section .form-group .bootstrap-select button{border:1px solid #b7b7b7;background-color:#fff !important;outline:none !important}
.form-section .form-group .bootstrap-select button[title="Select one"] .filter-option{color:#bfbfbf}
.hidden-val{background:#f5f5f5;font-size:18px;font-family:"proxima_novaregular";padding:7px 15px 0;opacity:0;height:0}
input:focus::-webkit-input-placeholder{color:transparent}
input:focus:-moz-placeholder{color:transparent}
input:focus::-moz-placeholder{color:transparent}
input:focus:-ms-input-placeholder{color:transparent}
.ui-widget-content{transition:none;background:#f5f5f5 !important;border:none !important}
.ui-widget-content .ui-menu-item{font-size:18px;border:none !important;min-height:30px;padding-top:5px !important;padding-left:12px !important;transition:none}
.ui-widget-content .ui-menu-item.ui-state-focus{background:#0095d3 !important;color:#fff !important;margin:0}
.icon-success{color:#6db33f;font-size:22px;right:10px;position:absolute;top:36px}
.icon-warning{color:#f8981d;font-size:22px;right:10px;position:absolute;top:36px}
.icon-error{color:#b5121b;font-size:22px;right:10px;position:absolute;top:36px}
.form-section .bootstrap-select button.dropdown-toggle{min-height:33px;padding-left:12px}
.form-section .bootstrap-select button.dropdown-toggle:after{background-image:url('forms/images/dropdown-icon.png');background-position:0 0;background-repeat:no-repeat;position:absolute;right:10px;content:"";height:16px;width:13px;top:7px}
.form-section .btn-group.open button.dropdown-toggle:after{background-position:0 -17px}
.form-section .bootstrap-select button.dropdown-toggle .filter-option{color:#565656;overflow:visible}
.form-section .bootstrap-select button.dropdown-toggle .bs-caret{display:none}
.form-section .btn-group.open .dropdown-toggle{box-shadow:0 1px 1px rgba(0,0,0,0.075) inset,0 0 8px rgba(102,175,233,0.6);border-color:#89cbdf}
.form-section .bootstrap-select .dropdown-menu{max-height:250px !important;background:#f5f5f5;box-shadow:none;margin-top:0;border-radius:0;border:0}
.form-section .bootstrap-select .dropdown-menu ul li a{padding-top:5px;padding-left:12px;height:30px;color:#565656}
.form-section .bootstrap-select .dropdown-menu ul li a span{transition:none}
.form-section .bootstrap-select .dropdown-menu ul li:hover a,.form-section .bootstrap-select .dropdown-menu ul li a:hover{background:#0095d3;color:#fff}
.form-section .has-feedback input[type="text"]{padding-right:40px}
.tipso_bubble,.tipso_bubble>.tipso_arrow{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.tipso_bubble{position:absolute;text-align:center;border-radius:6px;z-index:9999}
.tipso_style{cursor:pointer;vertical-align:sub}
.tipso_title{border-radius:6px 6px 0 0}
.tipso_content{word-wrap:break-word;background:#fff}
.tipso_bubble.tiny{font-size:.6rem}
.tipso_bubble.small{font-size:.8rem}
.tipso_bubble.default{font-size:1rem}
.tipso_bubble.large{font-size:1.2rem;width:100%}
.tipso_bubble>.tipso_arrow{position:absolute;pointer-events:none}
.tipso_bubble>.tipso_arrow:before{background:url('forms/images/tooltip.png') center center no-repeat;width:46px;height:24px;content:"";display:block;margin-left:-15px}
.show-tooltips{position:relative;height:14px;top:1px;display:inline-flex}
.show-tooltips img{width:14px}
.show-tooltips:after,.show-tooltips.hover:after{background:url('forms/images/tooltip.png') center center no-repeat;width:46px;height:24px;content:"";display:none;position:absolute;z-index:99999;left:-15px;top:12px}
.show-tooltips:hover:after,.show-tooltips.hover:after{display:block}
.tipso_bubble.top>.tipso_arrow{-ms-transform:rotate(180deg);-webkit-transform:rotate(180deg);transform:rotate(180deg);bottom:24px;left:50%;margin-top:-12px}
.tipso_bubble.top>.tipso_arrow:before{left:-15px;position:absolute;top:-16px}
.tipso_bubble.bottom>.tipso_arrow{left:50%;top:-33px;margin-top:19px}
.tipso_bubble.left>.tipso_arrow{top:50%;left:100%}
.tipso_bubble.right>.tipso_arrow{top:50%;right:100%}
.tipso_bubble .top_right_corner,.tipso_bubble.top_right_corner{border-bottom-left-radius:0}
.tipso_bubble .bottom_right_corner,.tipso_bubble.bottom_right_corner{border-top-left-radius:0}
.tipso_bubble .top_left_corner,.tipso_bubble.top_left_corner{border-bottom-right-radius:0}
.tipso_bubble .bottom_left_corner,.tipso_bubble.bottom_left_corner{border-top-right-radius:0}
.tipso_bubble .tipso_content,.toolTipContainer{border-radius:0;-webkit-box-shadow:0 0 5px 2px rgba(40,40,40,0.3);-moz-box-shadow:0 0 5px 2px rgba(40,40,40,0.3);box-shadow:0 0 5px 2px rgba(40,40,40,0.3);padding:15px 15px;text-align:left;font-size:18px;font-family:'proxima_novalight';width:400px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;background:#fff}
.tipso_bubble.tipso_style{padding:0 15px;border:none !important}
.tipso_bubble{padding-top:10px;padding-bottom:10px}
.tipso_bubble.top .space,.tipso_bubble.bottom .space{display:none}
.tipso_bubble.top .space:last-child{height:15px !important;display:inline-block;width:100%}
.tipso_bubble.bottom .space:first-child{height:25px !important:inline-block;width:100%}
.tipso_arrow{display:none !important}
.submit-form-group{margin-right:20px}
.tipso_bubble{width:400px !important;margin-left:5px !important}
.toolTipContainer{margin-top:35px !important;margin-left:-30px !important;position:absolute;z-index:100;display:none}
@media(max-width:480px){.tipso_bubble{width:280px !important;margin-left:5px !important}
#toolTipContainer{width:230px}
#toolTipContainer{margin-left:-50px !important}
}
.t_Tooltip{position:absolute !important}
.t_Skin,.t_Shadow{display:none}
.form-group{position:relative}
.form-control-feedback{top:24px}
.icon-success{display:none}
.icon-error{display:none}
.icon-warning{display:none}
.validation_error{display:none}
.validation_error p{color:red}
.error-msg{width:100%;height:auto;display:none;margin-top:5px;padding:2px;background:rgba(255,184,0,0.26)}
.error-msg p{font-size:15px !important;font-weight:800;color:#d9531e;display:inline-block;margin:5px;width:100%;margin-left:20px}
.error-msg.warning-msg{background:#fff9eb}
label.error{width:99%;height:auto;display:none;margin-top:5px;padding:2px;color:#a94442}
.submit-form{margin-right:20px;float:left}
.form-section input[type="checkbox"]{display:block;position:absolute;visibility:hidden}
.form-group .btn-green{background:#62a339 !important}
.show-tooltips img{vertical-align:0}
.section-custom.two-col-container .form-helptext{clear:both;position:relative}
.section-custom.two-col-container .toolTipContainer{margin-left:-25px !important;top:3px !important}
.prepop-demandbase-toggle{margin-left:1px}
.form-section .bootstrap-select button.dropdown-toggle .filter-option{overflow:hidden}
.two-col-container .form-section .bootstrap-select button.dropdown-toggle{margin-top:0 !important}
.modal-login #RegisterForm .section-custom,.modal-login #UpdateForm .section-custom,.modal-login #LoginForm .section-custom{margin:0 !important}
.modal-login #RegisterForm .form-container .hr.thin.light-gray,.modal-login #LoginForm .form-container .hr.thin.light-gray,.modal-login #UpdateForm .form-container .hr.thin.light-gray{display:none}
.modal-login #RegisterForm,.modal-login #UpdateForm,.modal-login #LoginForm{padding-top:25px !important}
.modal-login .toolTipContainer{top:0 !important;left:0 !important}
.form-container .lightGrey-bg.pd-25.section-custom.two-col-container.mb-0{margin:0 0 !important;margin-bottom:-25px !important}
.error-msg.warning-msg p{color:#a94442}
form .form_captcha_input{float:left;width:170px}
form .form_captcha_input input{width:170px}
form .form_captcha_img{float:left;padding-left:16px}
form .form_captcha_refresh{float:left}
form .form_captchatimer{float:left;border:1px solid #ccc}
form .form_captchatimer_bar{float:left;background-color:#ccc;height:8px}
.captcha .form_row{max-width:410px;height:80px;background:#f9f9f9;border-top:1px solid #d3d3d3;border-left:1px solid #d3d3d3;border-right:1px solid #d3d3d3;display:flex;align-items:center;padding:10px;position:relative}
.captcha .form_leftcol{float:left}
.captcha .form_rightcol{float:right;padding-left:10px}
.form_captcha_error_msg{position:absolute;bottom:0;font-size:12px;color:red}
.captcha .form_leftcollabel{float:left}
.captcha label{display:inline-block;max-width:100%;font-weight:bold;color:#565656}
.captcha .form_leftcolmark{float:left}
.captcha .form_rightcol{float:right;padding-left:10px}
form .form_captcha_input{width:170px;display:inline-block}
form .form_captcha_input input{width:170px;border:1px solid #b7b7b7;background-color:#fff !important;outline:none !important;min-height:33px;padding-left:12px;border-radius:3px}
form .form_captcha_img{padding-left:16px;display:inline-block}
.form_captcha_refresh{background:url(https://www.gstatic.com/recaptcha/api2/logo_48.png);background-repeat:no-repeat;background-size:cover;margin-left:10px}
.form_captcha_refresh input[type="button"]{background:transparent;text-indent:-9999px;border:0;height:32px;width:32px}
.form_captcha_error_msg{display:none}
.captcha .form_row:nth-child(4){border-top:0;height:auto;border-bottom:1px solid #d3d3d3}
form .form_captchatimer_bar{background-color:#62a339}
.captcha .container-fluid .form_row:nth-child(2){border-top:0;height:auto;border-bottom:1px solid #d3d3d3}
.captcha .form_rightcol{float:right;padding-left:10px;display:flex;align-items:center}
.captcha .container-fluid .form_row:nth-child(2) .form_rightcol{padding:0}
.captcha .container-fluid .form_row:nth-child(2) .form_leftcol{display:none}
@media(max-width:800px){.captcha .form_row{display:block;height:auto;float:left;width:100%}
.captcha .form_leftcol{width:100%}
.captcha .form_rightcol{padding:0;float:left}
form .form_captcha_input{padding-top:5px}
form .form_captcha_refresh{margin-top:5px}
}
.form-section .row .row .col-md-12,.form-section .col-md-12 .col-md-12{padding:0 10px}
.form-section form>label:first-child,.form-section .form-group>label:first-child{font-size:18px;font-family:proxima_novasemibold;color:#565656;cursor:auto;margin-bottom:3px;margin-top:2px;width:100%}
.form-section label.checkbox-inline,.form-section .radio label,.form-section label.radio-inline,.form-section .checkbox label{font-size:18px;font-family:"proxima_novaregular";color:#565656;padding-left:0;cursor:default !important}
.form-section form input[type="text"],.form-section form textarea{border-color:#b7b7b7;font-family:"proxima_novaregular";font-size:18px;padding:6px 12px 1px;min-height:33px;color:#565656}
.form-section form input[type="text"]:focus,.form-section form textarea:focus{border-color:#66afe9}
.form-section>label,.form-section form>label:first-child{width:100%}
.form-section label.radio-inline{width:auto}
.form-section label.radio-inline input[type="radio"],.form-section .radio input[type="radio"]{margin-left:-20px;position:static}
.form-section label.radio-inline input[type="radio"]:before,.form-section .radio input[type="radio"]:before{width:16px;height:16px;content:"";position:absolute;background:url('forms/images/radio-custom.png')}
input.btn-white[type="reset"]{background:#fff}
input.btn-white[type="reset"]:hover{background:#76c14d}
.form-section input[type="checkbox"]{display:none;position:static}
.form-section input[type="checkbox"]+span{padding-left:25px;position:relative;display:inherit}
.form-section input[type="checkbox"]+span:before{background:url('forms/images/checkbox-custom.png');background-repeat:no-repeat;position:absolute;content:"";height:15px;width:17px;left:0;top:1px}
.form-section input[type="checkbox"]:checked+span:before{background-position:0 -15px}
.form-section .row .row{margin-left:-10px;margin-right:-10px}
.form-section input[type="radio"]{display:none}
.form-section input[type="radio"]+span{padding-left:25px;position:relative;display:inherit}
.form-section input[type="radio"]+span:before{background:url('forms/images/radio-custom.png');background-repeat:no-repeat;position:absolute;content:"";height:16px;width:16px;left:0;top:1px}
.form-section input[type="radio"]:checked+span:before{background-position:0 -16px}
.form-section form label.checkbox-inline,.form-section form label.radio-inline{padding-left:0;margin-left:0;margin-right:10px;margin-top:0}
.form-section form label.checkbox-inline:last-child,.form-section form label.radio-inline:last-child{margin-bottom:10px;margin-top:5px}
.form-section form div.checkbox,.form-section form .radio{margin-top:5px}
.form-section label.warning{color:#f8981d;width:100%}
.form-section .form-group p{margin-top:10px}
.form-section .form-group p a{padding:0 !important;display:inline !important}
.form-section .form-group .bootstrap-select{width:100% !important}
.form-section .form-group .bootstrap-select button{border:1px solid #b7b7b7;background-color:#fff !important;outline:none !important}
.form-section .form-group .bootstrap-select button[title="Select one"] .filter-option{color:#bfbfbf}
.hidden-val{background:#f5f5f5;font-size:18px;font-family:"proxima_novaregular";padding:7px 15px 0;opacity:0;height:0}
input:focus::-webkit-input-placeholder{color:transparent}
input:focus:-moz-placeholder{color:transparent}
input:focus::-moz-placeholder{color:transparent}
input:focus:-ms-input-placeholder{color:transparent}
.ui-widget-content{transition:none;background:#f5f5f5 !important;border:none !important}
.ui-widget-content .ui-menu-item{font-size:18px;border:none !important;min-height:30px;padding-top:5px !important;padding-left:12px !important;transition:none}
.ui-widget-content .ui-menu-item.ui-state-focus{background:#0095d3 !important;color:#fff !important;margin:0}
.icon-success{color:#6db33f;font-size:22px;right:10px;position:absolute;top:36px}
.icon-warning{color:#f8981d;font-size:22px;right:10px;position:absolute;top:36px}
.icon-error{color:#b5121b;font-size:22px;right:10px;position:absolute;top:36px}
.form-section .bootstrap-select button.dropdown-toggle{min-height:33px;padding-left:12px}
.form-section .bootstrap-select button.dropdown-toggle:after{background-image:url('forms/images/dropdown-icon.png');background-position:0 0;background-repeat:no-repeat;position:absolute;right:10px;content:"";height:16px;width:13px;top:7px}
.form-section .btn-group.open button.dropdown-toggle:after{background-position:0 -17px}
.form-section .bootstrap-select button.dropdown-toggle .filter-option{color:#565656;overflow:visible}
.form-section .bootstrap-select button.dropdown-toggle .bs-caret{display:none}
.form-section .btn-group.open .dropdown-toggle{box-shadow:0 1px 1px rgba(0,0,0,0.075) inset,0 0 8px rgba(102,175,233,0.6);border-color:#89cbdf}
.form-section .bootstrap-select .dropdown-menu{max-height:250px !important;background:#f5f5f5;box-shadow:none;margin-top:0;border-radius:0;border:0}
.form-section .bootstrap-select .dropdown-menu ul li a{padding-top:5px;padding-left:12px;height:30px;color:#565656}
.form-section .bootstrap-select .dropdown-menu ul li a span{transition:none}
.form-section .bootstrap-select .dropdown-menu ul li:hover a,.form-section .bootstrap-select .dropdown-menu ul li a:hover{background:#0095d3;color:#fff}
.form-section .has-feedback input[type="text"]{padding-right:40px}
.tipso_bubble,.tipso_bubble>.tipso_arrow{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.tipso_bubble{position:absolute;text-align:center;border-radius:6px;z-index:9999}
.tipso_style{cursor:pointer;vertical-align:sub}
.tipso_title{border-radius:6px 6px 0 0}
.tipso_content{word-wrap:break-word;background:#fff}
.tipso_bubble.tiny{font-size:.6rem}
.tipso_bubble.small{font-size:.8rem}
.tipso_bubble.default{font-size:1rem}
.tipso_bubble.large{font-size:1.2rem;width:100%}
.tipso_bubble>.tipso_arrow{position:absolute;pointer-events:none}
.tipso_bubble>.tipso_arrow:before{background:url('forms/images/tooltip.png') center center no-repeat;width:46px;height:24px;content:"";display:block;margin-left:-15px}
.show-tooltips{position:relative;height:14px;top:1px;display:inline-flex}
.show-tooltips img{width:14px}
.show-tooltips:after,.show-tooltips.hover:after{background:url('forms/images/tooltip.png') center center no-repeat;width:46px;height:24px;content:"";display:none;position:absolute;z-index:99999;left:-15px;top:12px}
.show-tooltips:hover:after,.show-tooltips.hover:after{display:block}
.tipso_bubble.top>.tipso_arrow{-ms-transform:rotate(180deg);-webkit-transform:rotate(180deg);transform:rotate(180deg);bottom:24px;left:50%;margin-top:-12px}
.tipso_bubble.top>.tipso_arrow:before{left:-15px;position:absolute;top:-16px}
.tipso_bubble.bottom>.tipso_arrow{left:50%;top:-33px;margin-top:19px}
.tipso_bubble.left>.tipso_arrow{top:50%;left:100%}
.tipso_bubble.right>.tipso_arrow{top:50%;right:100%}
.tipso_bubble .top_right_corner,.tipso_bubble.top_right_corner{border-bottom-left-radius:0}
.tipso_bubble .bottom_right_corner,.tipso_bubble.bottom_right_corner{border-top-left-radius:0}
.tipso_bubble .top_left_corner,.tipso_bubble.top_left_corner{border-bottom-right-radius:0}
.tipso_bubble .bottom_left_corner,.tipso_bubble.bottom_left_corner{border-top-right-radius:0}
.tipso_bubble .tipso_content,.toolTipContainer{border-radius:0;-webkit-box-shadow:0 0 5px 2px rgba(40,40,40,0.3);-moz-box-shadow:0 0 5px 2px rgba(40,40,40,0.3);box-shadow:0 0 5px 2px rgba(40,40,40,0.3);padding:15px 15px;text-align:left;font-size:18px;font-family:'proxima_novalight';width:400px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;background:#fff}
.tipso_bubble.tipso_style{padding:0 15px;border:none !important}
.tipso_bubble{padding-top:10px;padding-bottom:10px}
.tipso_bubble.top .space,.tipso_bubble.bottom .space{display:none}
.tipso_bubble.top .space:last-child{height:15px !important;display:inline-block;width:100%}
.tipso_bubble.bottom .space:first-child{height:25px !important:inline-block;width:100%}
.tipso_arrow{display:none !important}
.submit-form-group{margin-right:20px}
.tipso_bubble{width:400px !important;margin-left:5px !important}
.toolTipContainer{margin-top:35px !important;margin-left:-30px !important;position:absolute;z-index:100;display:none}
@media(max-width:480px){.tipso_bubble{width:280px !important;margin-left:5px !important}
#toolTipContainer{width:230px}
#toolTipContainer{margin-left:-50px !important}
}
.t_Tooltip{position:absolute !important}
.t_Skin,.t_Shadow{display:none}
.form-group{position:relative}
.form-control-feedback{top:24px}
.icon-success{display:none}
.icon-error{display:none}
.icon-warning{display:none}
.validation_error{display:none}
.validation_error p{color:red}
.error-msg{width:100%;height:auto;display:none;margin-top:5px;padding:2px;background:rgba(255,184,0,0.26)}
.error-msg p{font-size:15px !important;font-weight:800;color:#d9531e;display:inline-block;margin:5px;width:100%;margin-left:20px}
.error-msg.warning-msg{background:#fff9eb}
label.error{width:99%;height:auto;display:none;margin-top:5px;padding:2px;color:#a94442}
.submit-form{margin-right:20px;float:left}
.form-section input[type="checkbox"]{display:block;position:absolute;visibility:hidden}
.form-group .btn-green{background:#62a339 !important}
.show-tooltips img{vertical-align:0}
.section-custom.two-col-container .form-helptext{clear:both;position:relative}
.section-custom.two-col-container .toolTipContainer{margin-left:-25px !important;top:3px !important}
.prepop-demandbase-toggle{margin-left:1px}
.form-section .bootstrap-select button.dropdown-toggle .filter-option{overflow:hidden}
.two-col-container .form-section .bootstrap-select button.dropdown-toggle{margin-top:0 !important}
.modal-login #RegisterForm .section-custom,.modal-login #UpdateForm .section-custom,.modal-login #LoginForm .section-custom{margin:0 !important}
.modal-login #RegisterForm .form-container .hr.thin.light-gray,.modal-login #LoginForm .form-container .hr.thin.light-gray,.modal-login #UpdateForm .form-container .hr.thin.light-gray{display:none}
.modal-login #RegisterForm,.modal-login #UpdateForm,.modal-login #LoginForm{padding-top:25px !important}
.modal-login .toolTipContainer{top:0 !important;left:0 !important}
.form-container .lightGrey-bg.pd-25.section-custom.two-col-container.mb-0{margin:0 0 !important;margin-bottom:-25px !important}
.error-msg.warning-msg p{color:#a94442}
form .form_captcha_input{float:left;width:170px}
form .form_captcha_input input{width:170px}
form .form_captcha_img{float:left;padding-left:16px}
form .form_captcha_refresh{float:left}
form .form_captchatimer{float:left;border:1px solid #ccc}
form .form_captchatimer_bar{float:left;background-color:#ccc;height:8px}
.captcha .form_row{max-width:410px;height:80px;background:#f9f9f9;border-top:1px solid #d3d3d3;border-left:1px solid #d3d3d3;border-right:1px solid #d3d3d3;display:flex;align-items:center;padding:10px;position:relative}
.captcha .form_leftcol{float:left}
.captcha .form_rightcol{float:right;padding-left:10px}
.form_captcha_error_msg{position:absolute;bottom:0;font-size:12px;color:red}
.captcha .form_leftcollabel{float:left}
.captcha label{display:inline-block;max-width:100%;font-weight:bold;color:#565656}
.captcha .form_leftcolmark{float:left}
.captcha .form_rightcol{float:right;padding-left:10px}
form .form_captcha_input{width:170px;display:inline-block}
form .form_captcha_input input{width:170px;border:1px solid #b7b7b7;background-color:#fff !important;outline:none !important;min-height:33px;padding-left:12px;border-radius:3px}
form .form_captcha_img{padding-left:16px;display:inline-block}
.form_captcha_refresh{background:url(https://www.gstatic.com/recaptcha/api2/logo_48.png);background-repeat:no-repeat;background-size:cover;margin-left:10px}
.form_captcha_refresh input[type="button"]{background:transparent;text-indent:-9999px;border:0;height:32px;width:32px}
.form_captcha_error_msg{display:none}
.captcha .form_row:nth-child(4){border-top:0;height:auto;border-bottom:1px solid #d3d3d3}
form .form_captchatimer_bar{background-color:#62a339}
.captcha .container-fluid .form_row:nth-child(2){border-top:0;height:auto;border-bottom:1px solid #d3d3d3}
.captcha .form_rightcol{float:right;padding-left:10px;display:flex;align-items:center}
.captcha .container-fluid .form_row:nth-child(2) .form_rightcol{padding:0}
.captcha .container-fluid .form_row:nth-child(2) .form_leftcol{display:none}
@media(max-width:800px){.captcha .form_row{display:block;height:auto;float:left;width:100%}
.captcha .form_leftcol{width:100%}
.captcha .form_rightcol{padding:0;float:left}
form .form_captcha_input{padding-top:5px}
form .form_captcha_refresh{margin-top:5px}
}
form[data-formtouchtype] div[touchtype]{display:none}